{{hamburger-menu}}
{{#link-to "application" class="navbar-brand"}}<a  href="http://imgur.com/E60oq64"><img class="logo" src="http://i.imgur.com/E60oq64.jpg" title="source: imgur.com" /></a>{{/link-to}}
