  <li>
    {{campaign.name}}
    <button class="crudbtn" {{action 'deleteCampaign'}}>&#9762;</button>
    {{#link-to 'edit-campaign' campaign}}<button class="crudbtn" >&#9881;</button>{{/link-to}}
  </li>
