<h2>Campaigns</h2>

<ul>
{{#each model as |campaign|}}
  {{campaign-elements/card
    campaign=campaign
    deleteCampaign='deleteCampaign'
    editCampaign='editCampaign'
  }}
{{/each}}
</ul>
{{#each model.nouns as |noun|}}
  {{campaign-elements/card
    noun=noun
  }}
{{/each}}
{{campaign-elements/create-campaign-form createCampaign='createCampaign'}}
