<h2>Welcome to Diem</h2>
<h4>A tool for your table top gamer needs</h4>

<p>   I've always been inspired by table-top gaming. Rolling dice, drawing cards, moving pegs; table-top gaming has instilled a sense of community in gamers for as long as people have been playing games.
  <br>
  <br>
  What I want to do is give people an ever growing resource for an ever growing gaming community. Currently, gamers have access to a log to keep track of any sort of campaign that may arise. This campaign is designed for DM's, but players are more than welcome to use it for their own resources and to keep track of their own characters.
  <br>
  <br>
  Good luck.
  <br>
  <br>
  Have Fun.
  <br>
  <br>
  Stay tuned for more to come.
  <br>
  <br>
  <br>
  <br>
  All the best,
  <br>
  <br>
  Myles
</p>
