<h3>{{model.name}} Logs</h3>
<ul>
  {{#each model.campaign_logs as |log|}}
  {{campaign-elements/log-card
    campaign=model
    log=log
    deleteLog='deleteLog'
    }}
  {{/each}}
  <!-- Modal -->
</ul>

  {{campaign-elements/create-log-form
    campaign=model
    createLog='createLog'}}
